{% extends 'base.html' %}

{% block content %}
<section class="">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="border-bottom mb-4">{% block title %} Article {% endblock %}</h3>
            </div>
        </div>
        <h1 class="fw-light">The beginning</h1>
        <p class="lead text-muted">I love computers since my childhood.</p>
        <p>
            
        </p>
        <p>I learned to build a computer from scratch when I was 12 years old.
        </p>
    </div>
</section>
{% endblock %}