{% extends 'base.html' %}

{% block content %}
<section class="text-center">
    <div class="container">
        <h1 class="text-center">{% block title %} About me {% endblock %}</h1>
    </div>
    <div class="row py-lg-1">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">The beginning</h1>
            <p class="lead text-muted">I love computers since my childhood.</p>
            <!-- 
            <p>
                <a href="#" class="btn btn-primary my-2">wikipedia</a>
                <a href="#" class="btn btn-secondary my-2">Twitter</a>
            </p>
            -->
        </div>
    </div>
</section>
{% endblock %}