{% extends 'base.html' %}

{% block content %}
<section class="">
    <div class="container">
        <div class="row pt-5">
            <div class="col-12">
                <h3 class="border-bottom mb-4">{% block title %} Article {% endblock %}</h3>
            </div>
        </div>
        <div class="row">
            {% for post in posts %}
            <div class="col-lg-3 mb-3 d-flex align-items-stretch">
                <div class="card hover-scale shadow-sm">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/8/88/Bensuperpc_cat.jpg" width="100%"
                        height="100%" class="img-fluid" alt="Cat">
                    <!--<div class="card-header"></div>-->
                    <div class="card-body d-flex flex-column">
                        <h5 class="card-title">{{ post['title'] }}</h5>
                        <p class="card-text">{{ post['summarize'] }}</p>

                        <div class="btn-group mt-auto">
                            <a class="btn btn-secondary" href="{{ url_for('article.post', post_id=post['id']) }}"
                                role="button">View</a>
                            {% if current_user.is_authenticated %}
                            <a class="btn btn-secondary" href="{{ url_for('article.edit', id=post['id']) }}"
                                role="button">Edit</a>
                            <a class="btn btn-secondary disabled" href="{{ url_for('article.delete', id=post['id']) }}"
                                role="button">Delete</a>
                            {% else %}
                            <a class="btn btn-secondary disabled" href="{{ url_for('article.edit', id=post['id']) }}"
                                role="button">Edit</a>
                            <a class="btn btn-secondary disabled" href="{{ url_for('article.delete', id=post['id']) }}"
                                role="button">Delete</a>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-footer text-muted">
                        {{ post['created'] }}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>


{% endblock %}