{% extends 'base.html' %}

{% block content %}
<section class="">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="border-bottom mb-4">{% block title %} Contact {% endblock %}</h3>
            </div>
        </div>
        <div>
            <div class="row mt-2">
                <div class="col-12">
                    <form method="post">
                        {{ form.csrf_token }}
                        <div class="row">
                            <div class="col-6">
                                <p><strong>Your Email:</strong> {{ form.email(class="form-control", placeholder="Email", type="email") }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <p><strong>Your message:</strong> {{ form.message(class="form-control", placeholder="Message", type="text") }}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-6">
                                <p>{{ form.submit(class="btn btn-primary", value="Send") }}</p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}