{% extends 'base.html' %}

{% block content %}
<section class="">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="border-bottom mb-4">{% block title %} Create a New Post {% endblock %}</h3>
            </div>
        </div>
        <form method=post>
            {{ form.csrf_token }}
            <div class="mb-4">
                {{ form.title(class="form-control", placeholder="Post title", type="text") }}
            </div>
            <div class="mb-4">
                {{ form.summary(class="form-control", placeholder="Post summarize", type="text") }}
            </div>
            <div class="mb-4">
                {{ form.content(class="form-control", placeholder="Post content", type="text") }}
            </div>
    
            <div class="form-check mb-2">
                {{ form.is_published(class="form-check-input", placeholder="Post is_published", type="checkbox") }}
                <label class="form-check-label" for="is_published">
                    Is published
                </label>
            </div>
    
            <div class="form-check mb-2">
                {{ form.is_markdown(class="form-check-input", placeholder="Post is_markdown", type="checkbox") }}
                <label class="form-check-label" for="is_markdown">
                    Is markdown format
                </label>
            </div>
    
            <div class="mb-2">
                {{ form.submit(class="btn btn-primary", value="Save") }}
            </div>
        </form>
    </div>
</section>

{% endblock %}