{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Create a New Post {% endblock %}</h1>

<section class="container">
    <form method=post>
        {{ form.csrf_token }}
        <div class="form-outline mb-4">
            {{ form.title(class="form-control", placeholder="Post title", type="text") }}
        </div>
        <div class="form-outline mb-4">
            {{ form.summary(class="form-control", placeholder="Post summarize", type="text") }}
        </div>
        <div class="form-outline mb-4">
            {{ form.content(class="form-control", placeholder="Post content", type="text") }}
        </div>
        <div class="form-outline mb-4">
            {{ form.submit(class="btn btn-primary", value="Save") }}
        </div>
    </form>
</section>
{% endblock %}