{% extends 'base.html' %}

{% block content %}

<section class="">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h3 class="border-bottom mb-4">{% block title %} My link tree {% endblock %}</h3>
      </div>
    </div>
    <div class="d-grid gap-2 col-6 mx-auto py-3">
      <!-- Color code N°1: https://simpleicons.org/ -->
      <!-- Color code N°2: https://www.lockedownseo.com/social-media-colors/ -->
      <a href="https://github.com/bensuperpc" class="btn btn-outline-dark hover-scale" role="button"><i
          class="fa-brands fa-github" style="color: #333333;">&nbsp;</i>Github</a>
      <a href="https://stackoverflow.com/users/10152334/bensuperpc" class="btn btn-outline-dark hover-scale"
        role="button"><i class="fa-brands fa-stack-overflow" style="color: #f48024;">&nbsp;</i>Stackoverflow</a>
      <a href="https://twitter.com/Bensuperpc" class="btn btn-outline-dark hover-scale" role="button"><i
          class="fa-brands fa-twitter" style="color: #55acee;">&nbsp;</i>Twitter</a>
      <a href="https://www.youtube.com/c/bensuperpc" class="btn btn-outline-dark hover-scale" role="button"><i
          class="fa-brands fa-youtube" style="color: #FF0000;">&nbsp;</i>Youtube</a>
      <!-- <a href="https://codepen.io/bensuperpc" class="btn btn-outline-dark hover-scale" role="button"><i class="fa-brands fa-codepen" style="color: #FF0000;">&nbsp;</i>Codepen</a> -->
      <a href="https://hub.docker.com/u/bensuperpc" class="btn btn-outline-dark hover-scale" role="button"><i
          class="fa-brands fa-docker" style="color: #0db7ed;">&nbsp;</i>Docker hub</a>
      <a href="https://gitlab.com/Bensuperpc" class="btn btn-outline-dark hover-scale" role="button"><i
          class="fa-brands fa-gitlab" style="color: #FC6D26;">&nbsp;</i>Gitlab</a>
      <a href="https://www.reddit.com/user/Bensuperpc" class="btn btn-outline-dark hover-scale" role="button"><i
          class="fa-brands fa-reddit" style="color: #FF4500;">&nbsp;</i>Reddit</a>
      <a href="https://mastodon.social/web/@bensuperpc" class="btn btn-outline-dark hover-scale" role="button"><i
          class="fa-brands fa-mastodon" style="color: #2b90d9;">&nbsp;</i>Mastodon</a>
      <!--<a href="https://www.furaffinity.net/user/bensuperpc" class="btn btn-outline-dark hover-scale" role="button"><i
          class="fa-solid fa-paw" style="color: #333333;">&nbsp;</i>Furaffinity</a>-->
      <a href="mailto:bensuperpc@gmail.com" class="btn btn-outline-dark hover-scale" role="button"><i
          class="fa fa-envelope" style="color: #333333;">&nbsp;</i>Mail</a>
      <!-- <a href="#" class="btn btn-outline-dark hover-scale" role="button"><i class="fa fa-code">&nbsp;</i>My website</a> -->
    </div>
  </div>
  </div>
</section>

{% endblock %}