{% extends "base.html" %}

{% block content %}
<section class="">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="border-bottom mb-4">{% block title %} Login {% endblock %}</h3>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-6 col-md-9">
                <form method="POST" action="/login" class="bg-white rounded shadow-sm p-5">
                    {{ form.csrf_token }}

                    <div class="form-outline mb-4">
                        <label class="form-label" for="email"><b>Username</b></label>
                        {{ form.email(class="form-control", placeholder="email here", type="email") }}
                    </div>

                    <div class="form-outline mb-4">
                        <label class="form-label" for="password"><b>Password</b></label>
                        {{ form.password(class="form-control", placeholder="password here", type="password") }}
                    </div>

                    <div class="row mb-4">
                        <div class="col d-flex justify-content-center">
                            <div class="form-check">
                                {{ form.remember_me(class="form-check-input", placeholder="remember me",
                                type="checkbox", checked="true") }}
                                <label class="form-check-label" for="remember_me"> Remember me </label>
                            </div>
                        </div>

                        <div class="col text-center">
                            <a href="#!">Forgot password?</a>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col d-flex justify-content-start">
                            {{ form.submit(class="btn btn-primary btn-block", value="Login") }}
                        </div>
                        <div class="col d-flex justify-content-evenly">
                            <a href="{{ url_for('auth.login_google') }}" class="btn btn-primary text-white"><i class="fa-brands fa-google"></i></a>
                            <a href="{{ url_for('auth.login_github') }}" class="btn btn-primary text-white"><i class="fa-brands fa-github"></i></a>
                            <a href="{{ url_for('auth.login_twitter') }}" class="btn btn-primary disabled text-white"><i class="fa-brands fa-twitter"></i></a>
                            <a href="{{ url_for('auth.login_facebook') }}" class="btn btn-primary disabled text-white"><i class="fa-brands fa-facebook"></i></a>
                        </div>
                    </div>
                    <div class="border-top"></div>
                    <div class="row">
                        <div class="col mt-3 d-flex justify-content-center">
                            <a href="{{ url_for('auth.signup') }}">You need an account? Sign up here</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>

</section>
{% endblock %}