{% extends 'base.html' %}

{% block content %}
<section class="">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="border-bottom mb-4">{% block title %} Mutual (Randomize) {% endblock %}</h3>
            </div>
        </div>
        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 row-cols-xxl-6">
            {% for mutual in mutuals %}
            <div class="col p-2">
                <div class="card w-100 h-100 hover-scale shadow-sm">
                    <img src="{{ mutual['picture_url'] }}" width="100%" height="100%" class="img-fluid"
                        alt="{{ mutual['name'] }}">
                    <!--<div class="card-header"></div>-->
                    <div class="card-body">
                        <h5 class="card-title">{{ mutual['name'] }}</h5>
                        <p class="card-text">{{ mutual['describe'] }}</p>
                    </div>
                    <div class="card-footer text-muted">
                        <div class="d-flex justify-content-around">
                            {% if mutual['twitter_url']|length %}
                            <a href="{{ mutual['twitter_url'] }}"><i class="fa-brands fa-twitter fa-2xl"
                                    style="color: #55acee;"></i></a>
                            {% endif %}
                            {% if mutual['github_url']|length %}
                            <a href="{{ mutual['github_url'] }}"><i class="fa-brands fa-github fa-2xl"
                                    style="color: #333333;"></i></a>
                            {% endif %}
                            {% if mutual['discord_url']|length %}
                            <a href="{{ mutual['discord_url'] }}"><i class="fa-brands fa-discord fa-2xl"
                                    style="color: #7289da;"></i></a>
                            {% endif %}
                            {% if mutual['youtube_url']|length %}
                            <a href="{{ mutual['youtube_url'] }}"><i class="fa-brands fa-youtube fa-2xl"
                                    style="color: #FF0000;"></i></a>
                            {% endif %}
                            {% if mutual['website_url']|length %}
                            <a href="{{ mutual['website_url'] }}"><i class="fa-solid fa-link fa-2xl"
                                    style="color: #646464;"></i></a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}