<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ url_for('main.index') }}">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav justify-content-start me-auto mb-2 mb-md-0">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ url_for('main.curriculum_vitae')}}">CV</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.linktree')}}">Linktree</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{{ url_for('article.panel')}}">Article</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.mutual')}}">Mutual</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.share')}}">Share</a>
                </li>
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.upload')}}">Upload</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a class="nav-link disabled" href="{{ url_for('main.mutual')}}">Forum</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.about')}}">About me</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.contact')}}">Contact</a>
                </li>
                <!--
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Social Networks
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="https://github.com/bensuperpc">github</a></li>
                        <li><a class="dropdown-item" href="https://twitter.com/Bensuperpc">Twitter</a></li>
                        <li><a class="dropdown-item" href="https://www.youtube.com/c/bensuperpc">Youtube</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="https://en.wikipedia.org/wiki/User:Bensuperpc">Wikipedia</a>
                        </li>
                    </ul>
                </li>
                -->
                {% if current_user.is_authenticated %}
                
                {% if current_user.admin %}
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('user.user_panel')}}">User panel</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('admin.dashboard')}}">Dashbord</a>
                </li>                
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('article.create')}}">New article</a>
                </li>
                {% endif %}
                {% endif %}
            </ul>
            <ul class="navbar-nav d-flex justify-content-end">
                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('user.profile') }}">
                        Profile
                    </a>
                </li>
                {% endif %}

                {% if not current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.login') }}">
                        Login
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.signup') }}">
                        Sign Up
                    </a>
                </li>
                {% endif %}

                {% if current_user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('auth.logout') }}">
                        Logout
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>