{% extends 'base.html' %}

{% block content %}
<section class="">
    <div class="text-center container">
        <h1>{% block title %} {{ post['title'] }} {% endblock %}</h1>
    </div>
    <div class="container">
        <div class="border-bottom">
            <span class="badge bg-secondary">{{ post['created'] }}</span>
            <span class="badge bg-secondary">{{ post['updated'] }}</span>
            <h4>
                <p>{{ post['summarize'] }}</p>
            </h4>
            <hr>
            <p>{{ post['content'] |safe }}</p>
        </div>

        <div class="my-3 py-0">
            <div class="row d-flex justify-content-center">
                <div class="col-md-12 col-lg-12">
                    <div class="card text-dark">
                        {% for comment in post.comments %}
                        <div class="card-body p-4">
                            <div class="d-flex flex-start">
                                <img class="rounded-circle shadow-1-strong me-3" src="{{ comment.user['picture_url'] }}"
                                    alt="avatar" width="60" height="60" />
                                <div>
                                    <h6 class="fw-bold mb-1">{{ comment.user['name'] }}</h6>
                                    <div class="d-flex align-items-center mb-3">
                                        <p class="mb-0">
                                            {{ comment['created'] }}

                                            {% if comment['status'] == 0 %}
                                            <span class="badge bg-primary">Pending</span>
                                            {% elif comment['status'] == 1 %}
                                            <span class="badge bg-success">Approved</span>
                                            {% elif comment['status'] == 2 %}
                                            <span class="badge bg-danger">Rejected</span>
                                            {% endif %}
                                        </p>
                                        <a href="{{ url_for('article.edit_comment', comment_id=comment['id']) }}"
                                            class="link-muted"><i class="fas fa-pencil-alt ms-2"></i></a>
                                        <a href="#!" class="link-muted"><i class="fas fa-redo-alt ms-2"></i></a>
                                        <a href="#!" class="link-muted"><i class="fas fa-heart ms-2"></i></a>
                                        <a href="{{ url_for('article.delete_comment', comment_id=comment['id']) }}"
                                            class="link-muted"><i class="fas fa-xmark ms-2"></i></a>
                                    </div>
                                    <p class="mb-0">
                                        {{ comment['content'] }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <hr class="my-0" />
                        {% endfor %}
                        <div>
                            <form method=post>
                                <div class="container py-3 border-0">
                                    {{ form.csrf_token }}
                                    <div class="d-flex flex-start w-100">
                                        <img class="rounded-circle shadow-1-strong me-3"
                                            src="{{ current_user['picture_url'] }}" alt="avatar" width="40"
                                            height="40" />
                                        <div class="form-outline w-100">
                                            {{ form.content(class="form-control", placeholder="Comment title",
                                            type="text",
                                            rows="4") }}
                                        </div>
                                    </div>
                                    <div class="float-end mb-2 mt-2">
                                        {{ form.submit(class="btn btn-primary btn-sm", value="Submit") }}
                                        <a class="btn btn-outline-danger btn-sm"
                                            href="{{ url_for('article.post', post_id=post['id']) }}">Cancel</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}