{% extends 'base.html' %}

{% block content %}
<section class="">
    <div class="text-center container">
        <h1>{% block title %} {{ post['title'] }} {% endblock %}</h1>
    </div>
    <div class="container">
        <div class="">
            <span class="badge bg-secondary">{{ post['created'] }}</span>
            <span class="badge bg-secondary">{{ post['updated'] }}</span>
            <h4>
                <p>{{ post['summarize'] }}</p>
            </h4>
            <hr>
            <p>{{ post['content'] |safe }}</p>
        </div>
    </div>
</section>
{% endblock %}