{% extends 'base.html' %}

{% block content %}
<section class="">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="border-bottom mb-4">{% block title %} Welcome, {{ user['name'] }}! {% endblock %}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <h4 class="border-bottom mb-4">Your Profile</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p><strong>Name:</strong> {{ user['name'] }} {{ user['last_name'] }}
                </p>
                <p><strong>Email:</strong> {{ user['email'] }}</p>
                <p><strong>Username:</strong> {{ user['username'] }}</p>
                <p><strong>Password:</strong> {{ user['password'] }}</p>
                <p><strong>Last login:</strong> {{ user['last_connect'] }}</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}