{% extends "base.html" %}

{% block content %}
<section class="">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="border-bottom mb-4">{% block title %} Sign Up {% endblock %}</h3>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-xl-6 col-md-9">
                <form method="POST" action="/signup" class="bg-white rounded shadow-sm p-5">
                    {{ form.csrf_token }}

                    <div class="form-outline mb-4">
                        <label class="form-label" for="username"><b>Username</b></label>
                        {{ form.username(class="form-control", placeholder="username here", type="name") }}
                    </div>

                    <div class="form-outline mb-4">
                        <label class="form-label" for="email"><b>Email</b></label>
                        {{ form.email(class="form-control", placeholder="email here", type="email") }}
                    </div>

                    <div class="form-outline mb-4">
                        <label class="form-label" for="password"><b>Password</b></label>
                        {{ form.password(class="form-control", placeholder="password here", type="password") }}
                    </div>

                    <div class="form-outline mb-4">
                        <label class="form-label" for="confirm"><b>Confirm Password</b></label>
                        {{ form.confirm(class="form-control", placeholder="password again", type="password") }}
                    </div>

                    <div class="row mb-4">
                        <div class="col d-flex justify-content-center">
                            <div class="form-check">
                                {{ form.accept_tos(class="form-check-input", placeholder="accept_tos", type="checkbox") }}
                                <label class="form-check-label" for="accept_tos">
                                    I accept the <a href="#!">GNU</a>
                            </div>
                        </div>

                        <div class="col text-center">
                            <a href="#!">Need help?</a>
                        </div>
                    </div>

                    <div class="row mb-3">
                        <div class="col d-flex justify-content-start">
                            {{ form.submit(class="btn btn-primary", value="Register") }}
                        </div>
                        <div class="col d-flex justify-content-evenly">
                            <a href="{{ url_for('auth.login_google') }}" class="btn btn-primary text-white"><i class="fa-brands fa-google"></i></a>
                            <a href="{{ url_for('auth.login_github') }}" class="btn btn-primary text-white"><i class="fa-brands fa-github"></i></a>
                            <a href="{{ url_for('auth.login_twitter') }}" class="btn btn-primary disabled text-white"><i class="fa-brands fa-twitter"></i></a>
                            <a href="{{ url_for('auth.login_facebook') }}" class="btn btn-primary disabled text-white"><i class="fa-brands fa-facebook"></i></a>
                        </div>
                    </div>
                    <div class="border-top"></div>
                    <div class="row">
                        <div class="col mt-3 d-flex justify-content-center">
                            <a href="{{ url_for('auth.login') }}">You already have an account? Login here</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>

</section>
{% endblock %}
