{% extends "base.html" %}

{% block content %}
<section class="text-center container">
    <div class="column is-4 is-offset-4">
        <h3 class="title">Sign Up</h3>
        <div class="box">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div class="notification is-danger">
                {{ messages[0] }}. Go to <a href="{{ url_for('auth.login') }}">login page</a>.
            </div>
            {% endif %}
            {% endwith %}

            <form method=post>
                <div class="form-outline mb-4">
                    {{ form.username(class="form-control", placeholder="username here", type="name") }}
                </div>
                <div class="form-outline mb-4">
                    {{ form.email(class="form-control", placeholder="email here", type="email") }}
                </div>
                <div class="form-outline mb-4">
                    {{ form.password(class="form-control", placeholder="password here", type="password") }}
                </div>
                <div class="form-outline mb-4">
                    {{ form.confirm(class="form-control", placeholder="password again", type="password") }}
                </div>
                <p>
                    {{ form.accept_tos(class="form-check-input", placeholder="accept tos", type="checkbox") }}
                    <label class="form-check-label" for="formaccept_tos">
                        I accept the <a href="#!">terms of service</a>
                </p>
                <p><input type=submit value=Register></p>
            </form>
        </div>
    </div>
</section>
{% endblock %}