{% extends 'base.html' %}

{% block content %}

<section class="">
    <div class="container">
        <div class="row pt-5">
            <div class="col-12">
                <h3 class="border-bottom mb-4">{% block title %} User panel {% endblock %}</h3>
            </div>
        </div>
        <div class="row">
            {% for user in users %}
            <div class="col-lg-3 mb-3 d-flex align-items-stretch">
                <div class="card hover-scale shadow-sm">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/8/88/Bensuperpc_cat.jpg" width="100%"
                        height="100%" class="img-fluid" alt="Cat">
                    <!--<div class="card-header"></div>-->
                    <div class="card-body">
                        <h5 class="card-title">{{ user['name'] }}</h5>
                        <p class="card-text">{{ user['email'] }}</p>
                    </div>
                    <div class="card-footer">
                        <a class="btn btn-secondary me-1" href="{{ url_for('user.profile', user_id=user['id']) }}" role="button">View</a>
                        {% if current_user.is_authenticated %}
                        {% if user.admin %}
                        <a class="btn btn-success me-1" href="{{ url_for('user.disable_administrator', user_id=user['id']) }}" role="button">Admin</a>
                        {% else %}
                        <a class="btn btn-danger me-1" href="{{ url_for('user.enable_administrator', user_id=user['id']) }}" role="button">Admin</a>
                        {% endif %}
                        {% else %}
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}