{% extends 'base.html' %}

{% block content %}
<section class="">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="border-bottom mb-4">GNU</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p><strong>Main</strong></p>
                <p>
                    This website is a free software project. You can use, study, share and improve it at your will. Specifically you can redistribute and/or modify it under the terms of the MIT License as published by the Open Source Initiative.
                </p>
            </div>
        </div>
    </div>
</section>
{% endblock %}
