{% extends 'base.html' %}

{% block content %}
<section class="text-center container">
    <div class="container">
        <h1 class="text-center">{% block title %} Shared files {% endblock %}</h1>
    </div>
    <div class="row py-lg-1">
        <div class="col-lg-6 col-md-8 mx-auto">
            <div class="card shadow-sm">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="card-body">
                        <p class="card-text fw-bold">Musics</p>
                        <div class="list-group">
                            {% for file in musics %}
                            <a href="{{ url_for('main.upload_music', filename=file) }}"
                                class="list-group-item list-group-item-action">{{ file }}</a>
                            {% endfor %}
                        </div>
                        <div class="d-grid gap-2">
                            <a href="#" class="btn btn-primary btn-lg disabled" tabindex="-1" role="button"
                                aria-disabled="true">Download all musics</a>
                        </div>
                        <br>
                        <p class="card-text fw-bold">Images</p>
                        <div class="list-group">
                            {% for file in images %}
                            <a href="{{ url_for('main.upload_image', filename=file) }}"
                                class="list-group-item list-group-item-action">{{ file }}</a>
                            {% endfor %}
                        </div>
                        <div class="d-grid gap-2">
                            <a href="#" class="btn btn-primary btn-lg disabled" tabindex="-1" role="button"
                                aria-disabled="true">Download all images</a>
                        </div>
                        <br>
                        <p class="card-text fw-bold">Videos</p>
                        <div class="list-group">
                            {% for file in videos %}
                            <a href="{{ url_for('main.upload_video', filename=file) }}"
                                class="list-group-item list-group-item-action">{{ file }}</a>
                            {% endfor %}
                        </div>
                        <div class="d-grid gap-2">
                            <a href="#" class="btn btn-primary btn-lg disabled" tabindex="-1" role="button"
                                aria-disabled="true">Download all videos</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}