{% extends 'base.html' %}

{% block content %}
<section class="">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h3 class="border-bottom mb-4">{% block title %} Upload {% endblock %}</h3>
            </div>
        </div>
        <div>
            <div class="row mt-2">
                <div class="col-12">
                    <form method="post" enctype="multipart/form-data">
                        {{ form.csrf_token }}
                        <div class="row">
                            <div class="col-6">
                                <p><strong>File:</strong> {{ form.files(class="form-control") }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <p><strong>Submit:</strong> {{ form.submit(class="btn btn-primary btn-sm") }}</p>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}