[submodule "themes/abridge"]
	path = themes/abridge
	url = https://github.com/jieiku/abridge.git
[submodule "static"]
	path = static
	url = git@github.com:bensuperpc/bensuperpc_website_static_content.git
