requests

flask
flask-babel
flask-login
flask-sqlalchemy
flask-assets
flask-wtf
flask-mail

flask-qrcode
flask-paranoid
flask-paginate

email-validator

sqlalchemy
sqlalchemy-utils

loguru

python-dotenv

isort
black

Markdown
Pygments

pylint
dlint
flake8

github3.py

linkchecker

numpy

oauthlib

pyOpenSSL
