requests

uwsgi

flask
flask-babel
flask-login
flask-sqlalchemy
flask-assets
flask-wtf
flask-mail

flask-qrcode
flask-paginate

email-validator

psycopg2

sqlalchemy
sqlalchemy-utils

loguru

python-dotenv

isort
black

Markdown
Pygments

pylint
dlint
flake8

github3.py

linkchecker

numpy
seaborn
pandas
matplotlib

pyOpenSSL

authlib

tweepy
