/******************************************************************************
 *   Extra - Put your extra SASS/CSS here, it will get bundled with abridge.css
 *****************************************************************************/
.centerimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
}
