body {
  padding-top: 2rem;
}

i {
  color: lightgray;
}

table,
th,
td {
  border: 1px solid black;
}

.hover-scale:hover {
  transform: scale(1.02);
}

.hover-scale {
  transition: all 0.2s ease;
}
